:root {
    /* Main */
    --color-primary: #f4cf45;
    --color-primary-dark: #dcae1d;
    --color-primary-light: #fff5c7;
  
    /* Brand */
    --color-brown: #2d2417;
    --color-red: #e87570;
    --color-mint: #79cec5;
  
    /* Background */
    --color-background: #fffdf5;
    --color-surface: #ffffff;
  
    /* Text */
    --color-text: #21190f;
    --color-text-secondary: #9a8056;
  
    /* Border */
    --color-border: #e7dfcf;
  
    /* Radius */
    --radius-sm: 12px;
    --radius-md: 18px;
    --radius-lg: 24px;
  }